#!/usr/bin/make -f
# debian/rules that uses debhelper >= 7.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh  $@

install_libfsclfs:
	# Set up libfsclfs package directories and files
	mkdir -p debian/libfsclfs/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so.*.*.* debian/libfsclfs/usr/lib

install_libfsclfs_dev:
	# Set up libfsclfs-dev package directories and files
	mkdir -p debian/libfsclfs-dev/usr/include
	mkdir -p debian/libfsclfs-dev/usr/include/libfsclfs
	mkdir -p debian/libfsclfs-dev/usr/lib
	mkdir -p debian/libfsclfs-dev/usr/lib/pkgconfig
	mkdir -p debian/libfsclfs-dev/usr/share/man/man3
	install -p -m755 debian/tmp/usr/include/*.h debian/libfsclfs-dev/usr/include
	install -p -m755 debian/tmp/usr/include/libfsclfs/*.h debian/libfsclfs-dev/usr/include/libfsclfs
	install -p -m755 debian/tmp/usr/lib/*.la debian/libfsclfs-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.a debian/libfsclfs-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so debian/libfsclfs-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/pkgconfig/* debian/libfsclfs-dev/usr/lib/pkgconfig
	install -p -m755 debian/tmp/usr/share/man/man3/* debian/libfsclfs-dev/usr/share/man/man3

install_libfsclfs_tools:
	# Set up libfsclfs-tools package directories and files
	mkdir -p debian/libfsclfs-tools/usr/bin
	mkdir -p debian/libfsclfs-tools/usr/share/man/man1
	install -p -m755 debian/tmp/usr/bin/* debian/libfsclfs-tools/usr/bin
	install -p -m755 debian/tmp/usr/share/man/man1/* debian/libfsclfs-tools/usr/share/man/man1

override_dh_auto_test:

override_dh_installinit: install_libfsclfs install_libfsclfs_dev install_libfsclfs_tools

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_gconf:

override_dh_icons:

override_dh_perl:

override_dh_shlibdeps:
	dh_shlibdeps -Llibfsclfs -l${PWD}/debian/tmp/usr/lib

override_dh_makeshlibs:
	dh_makeshlibs -Xlibfsclfs-dev

